.texto-menor{
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.verdinho{
    color: #DAFF01;
}

.botao-lilas{
    color: white;
    background-color: #9353FF;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}